<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>calculs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">calculs</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card>
      <ion-card-header> 
        <ion-card-title>
          <ion-label>Calculs Operatiosn</ion-label>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-label>Calculs SDDI4</ion-label>
        </ion-card-subtitle>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-input type="number" label="Nombre 1" placeholder="Enter number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="number" label="Nombre 2" placeholder="Enter number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-button>+</ion-button>
              <ion-button>-</ion-button>
              <ion-button>*</ion-button>
              <ion-button>/</ion-button>
            </ion-item>
            <ion-item>
              <ion-label>Resultat</ion-label> 
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </div> 
</ion-content>
