<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Demo Ionic Standalone</h1>
    <p>Bienvenue dans mon application Ionic Standalone</p>
    <ion-label>Demo Ionic Standalone</ion-label><br>
    <ion-button>Test</ion-button>
  </div>
</ion-content>
